body
{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
  color:white;

}
  /* <!-- Index.html --> */
.carousel-item
{
  height: 80vh;
}
.carousel-item img
{
  height: 100%;
  width: 100%;
}
.fa-drumstick-bite {
  color: #d16327;
}
.fa-fish {
  color: #42f4f1;
}
.fa-seedling {
  color: #48ea5e;
}
.fa-drumstick-bite, .fa-fish, .fa-seedling {
  font-size: 4em;
  margin: 1rem;
}
h2 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0px -12px 0px;
}
/*  <!-- sweet treats page -->*/
.container
{
  width: 1200px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .box
{
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 35px;
  border: 10px solid #e9ecef;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
}
.container .box .imgBox
{
  position: relative;
  overflow: hidden;
}
.container .box .imgBox img
{
  max-width: 100%;
  transition: transform 2s;
}
.container .box:hover .imgBox img
{
  transform: scale(1.2);
}

* {
  box-sizing: border-box;
}


/* Style the submit button */
form.example button {
  float: left;
  width: 0,8%;
  padding: 12px;
  margin-top: 10px;
  background: #19A399;
  color: white;
  font-size: 22px;
  border: 1px ;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #19A399;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  margin:  130px 0px 0px 150px;
  Padding: 10px 10px 10px 10px;
  }



.navbar {
  background:RGBA(25,163,153,1);
  font-family: 'Lobster', cursive;
  padding-bottom: 10px;}

.nav-link {
  color:white;
  font-size: 25px;
  padding:10px;
}

.nav-item {
  padding: 10px;
}

.navbar-brand {
  color: white;}

img {
	width: 95px;
	height: 100px;
}

.service {
  background-image: url("https://images.pexels.com/photos/372882/pexels-photo-372882.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block
}

@media (min-width: 600px) {
  .service {
    min-height: 850px;
  }
}
